#item-page {
  & .item-title {
    text-align: center;
  }

  & .item-description {
    padding: 10px;
    text-align: center;
  }
  
  & .item-image {
    padding: 10px;
    margin: auto;
    height: 350px;
    width: 350px;
    display: flex;
  }
}
