.item {
  height: 200px;
  width: 145px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;

  & img {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
  }

  & a {
    text-decoration: underline;
    color: black;
  }
}
