.items-list
  each item in items
    .item
      a(href=`/item/${item.id}`)
        img(src=`/items/${item.id}.png`)
        .item-label= item.label
      .item-price
        if item.price
          | $#{item.price}
        else
          | Free!
